<!DOCTYPE html>
<html>
<head>
    <title>Question</title>
</head>
<body>
    <h1>Choose an Option</h1>
    <div>
        <a href="{{ url_for('main.choose', choice='A') }}"><button>A</button></a>
        <a href="{{ url_for('main.choose', choice='B') }}"><button>B</button></a>
        <a href="{{ url_for('main.choose', choice='C') }}"><button>C</button></a>
        <a href="{{ url_for('main.choose', choice='D') }}"><button>D</button></a>
    </div>

    {% include '_navigation.html' %}
</body>
</html>
